@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }

    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes bgwave {
    0% {
        left: 0;
    }
    50% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes aniblink {
    0% {
        background-color: $red;
        transform: scale(1);
    }
    50% {
        background-color: transparent;
        transform: scale(1.2);
    }
    100% {
        background-color: $red;
        transform: scale(1);
    }
}

/* 로딩 - 스핀 */
@keyframes ut-rotate-linspin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes ut-rotate-easespin {
    12.5% {
        transform: rotate(135deg);
    }
    25% {
        transform: rotate(270deg);
    }
    37.5% {
        transform: rotate(405deg);
    }
    50% {
        transform: rotate(540deg);
    }
    62.5% {
        transform: rotate(675deg);
    }
    75% {
        transform: rotate(810deg);
    }
    87.5% {
        transform: rotate(945deg);
    }
    to {
        transform: rotate(1080deg);
    }
}
@keyframes ut-rotate-left {
    0% {
        transform: rotate(130deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(130deg);
    }
}
@keyframes ut-rotate-right {
    0% {
        transform: rotate(-130deg);
    }
    50% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-130deg);
    }
}
