$color-primary: #eeb73f;
$color-default: #111;
$white: #fff;
$black: #000;
$red: #f1344d;
$darkGray: #464646;
$gray: #7d7d7d;
$gray3: #f2f4f8;
$gray4: #eaeaea;
$navy: #222733;
$orange: #f6864c;
$green: #4aa825;
$skyBlue: #3899ec;
$violet: #6e70fb;
$blue: #6890b8;
$link: #676767;
$keyColor1: #eeb73f;
$keyColor2: #5f584c;
$keyColor2-hov: #7c736c;
