/* Brand Color */
#wrapper {
  width: 100%;
  height: 100%;
}
#wrapper h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
#wrapper .container {
  position: relative;
  max-width: 79rem;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

#contents {
  padding-top: 4.4rem;
}

#header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 79rem;
  height: 4.4rem;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
}
#header .menu-btn {
  display: block;
  position: absolute;
  width: 4.4rem;
  height: 100%;
  top: 0;
  right: 0.6rem;
  z-index: 2;
}
#header .menu-btn span {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999rem;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: auto;
  background: url("../images/common/gnb_menu.svg") no-repeat;
  background-size: contain;
}

.dark #header {
  background-color: #242424;
}
.dark #header .menu-btn span {
  background-image: url("../images/common/gnb_menu_dark.svg");
}