/* Brand Color */
body {
  background-color: #f6f6f6;
}

#wrapper {
  width: 100%;
  height: 100%;
}
#wrapper h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
#wrapper .container {
  background-color: #fff;
  position: relative;
  max-width: 79rem;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}
#wrapper.order-wrap .container {
  background-color: #242424;
}

#contents {
  padding-top: 4.4rem;
}

.category-tit {
  color: #1a1a1a;
  position: relative;
  padding: 0 2.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
}
.category-tit::after {
  background-color: #9747ff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 1rem 0.2rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0.1rem 1rem 0.2rem;
  content: "";
  display: block;
  position: absolute;
  width: 7rem;
  height: 0.4rem;
  top: 50%;
  left: -0.3rem;
  border-radius: 0.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.sector-category {
  position: relative;
  padding: 3.9rem 0 17rem;
  margin-top: -4.4rem;
}
.sector-category::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.sector-category.cate1 {
  background-color: #e4ebdc;
}
.sector-category.cate1::after {
  width: 19.1rem;
  height: 14.6rem;
  background-image: url("../images/product/cate1.png");
}
.sector-category.cate2 {
  background-color: #f4c6c4;
}
.sector-category.cate2::after {
  width: 12rem;
  height: 15.7rem;
  background-image: url("../images/product/cate2.png");
}
.sector-category.cate3 {
  background-color: #b59dfb;
}
.sector-category.cate3::after {
  width: 16rem;
  height: 15rem;
  right: 2.2rem;
  background-image: url("../images/product/cate3.png");
}

.product-detail {
  position: relative;
  padding-bottom: 12.5rem;
}
.product-detail .sector-detail {
  padding-top: 3.9rem;
  margin-top: -4.4rem;
}
.product-detail .sector-detail.cate1 {
  background-color: #d7d4d3;
}
.product-detail .category-tit {
  font-size: 2.4rem;
}
.product-detail .detail-title {
  padding: 1.9rem 2.4rem 2rem;
}
.product-detail .detail-title h4 {
  color: #323232;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  word-break: keep-all;
}
.product-detail .detail-title h4 .smt {
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.product-detail .detail-title .price {
  color: #323232;
  margin-top: 2.8rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}
.product-detail .product-info .prd-headtext {
  padding: 6.8rem 3rem;
}
.product-detail .product-info .prd-topview {
  padding: 4rem 0.6rem;
}
.product-detail .product-info .prd-inner {
  padding: 0 2.4rem;
}
.product-detail .product-info .prd-txt1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1px;
}
.product-detail .product-info .prd-txt1 + .prd-txt2 {
  margin-top: 1.6rem;
}
.product-detail .product-info .prd-txt1 + .prd-txt2.mt1 {
  margin-top: 2.4rem;
}
.product-detail .product-info .prd-txt2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1px;
}
.product-detail .product-info .prd-txt2 + .prd-txt3 {
  margin-top: 1.6rem;
}
.product-detail .product-info .prd-txt3 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1px;
}
.product-detail .product-info .prd-img.figcaption-ocr figcaption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
.product-detail .product-info .prdinfo {
  padding-bottom: 4rem;
}
.product-detail .product-info .prdinfo figure {
  margin-bottom: 4rem;
}
.product-detail .product-notice {
  padding: 0 2.4rem;
}
.product-detail .product-notice .note-tit {
  color: #1a1a1a;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1px;
}
.product-detail .product-notice .note-list {
  color: #1a1a1a;
}
.product-detail .product-notice .note-list > li + li {
  margin-top: 1.6rem;
}
.product-detail .product-notice .note-list .st {
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1px;
}
.product-detail .product-notice .note-list p {
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: -1px;
}

.order-cont {
  position: relative;
  padding: 3rem 2.4rem 10rem 3.4rem;
  word-break: keep-all;
}
.order-cont h3 {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1px;
}
.order-cont .order-talk .talk-baloon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-cont .order-talk .talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.order-cont .order-talk .talk dl {
  max-width: 84.9673202614%;
  padding: 1.6rem 2rem;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.order-cont .order-talk .talk dl dt {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}
.order-cont .order-talk .talk dl dd {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 120%;
}
.order-cont .order-talk .talk dl dd .option {
  margin: 0.7rem 0 0 0.7rem;
}
.order-cont .order-talk .talk.seller {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.order-cont .order-talk .talk.seller dl {
  color: #fff;
  background-color: #8b5cf6;
  justify-self: flex-start;
  margin-bottom: 1.6rem;
  border-radius: 2rem 2rem 2rem 0;
}
.order-cont .order-talk .talk.seller dl .scaling-dots div {
  background: #fff;
}
.order-cont .order-talk .talk.purchaser {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.order-cont .order-talk .talk.purchaser dl {
  color: #1a1a1a;
  background-color: #fff;
  justify-self: flex-end;
  margin-bottom: 3rem;
  border-radius: 2rem 2rem 0 2rem;
}
.order-cont .order-talk .talk.purchaser dl .scaling-dots div {
  background: #1a1a1a;
}

.dark #wrapper .container {
  background-color: #242424;
}

#header {
  position: fixed;
  width: 100%;
  max-width: 79rem;
  height: 4.4rem;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  z-index: 20;
}
#header .menu-btn {
  display: block;
  position: absolute;
  width: 4.4rem;
  height: 100%;
  top: 0;
  right: 0.6rem;
  z-index: 2;
}
#header .menu-btn span {
  display: block;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999rem;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: auto;
  background: url("../images/common/gnb_menu.svg") no-repeat;
  background-size: contain;
}

.dark #header {
  background-color: #242424;
}
.dark #header .menu-btn span {
  background-image: url("../images/common/gnb_menu_dark.svg");
}

.order-talk .talk .loading {
  -webkit-animation-name: ani-txt;
          animation-name: ani-txt;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  animation-direction: reverse;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.order-talk .talk .result {
  -webkit-animation-name: ani-txt2;
          animation-name: ani-txt2;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  animation-direction: reverse;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes ani-txt {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes ani-txt {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes ani-txt2 {
  100% {
    display: none;
  }
}
@keyframes ani-txt2 {
  100% {
    display: none;
  }
}
@-webkit-keyframes wordOpen {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes wordOpen {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
.bal1 .loading {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.bal1 .result {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.bal2 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 3s;
          animation: wordOpen 0.3s forwards linear 1 3s;
  opacity: 0;
  visibility: hidden;
}
.bal2 .loading {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}
.bal2 .result {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.bal3 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 5s;
          animation: wordOpen 0.3s forwards linear 1 5s;
  opacity: 0;
  visibility: hidden;
}
.bal3 .loading {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}
.bal3 .result {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}

.bal4 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 7.5s;
          animation: wordOpen 0.3s forwards linear 1 7.5s;
  opacity: 0;
  visibility: hidden;
}
.bal4 .loading {
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}
.bal4 .result {
  -webkit-animation-delay: 8.6s;
          animation-delay: 8.6s;
}

.bal5 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 10s;
          animation: wordOpen 0.3s forwards linear 1 10s;
  opacity: 0;
  visibility: hidden;
}
.bal5 .loading {
  -webkit-animation-delay: 10.9s;
          animation-delay: 10.9s;
}
.bal5 .result {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.bal6 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 12s;
          animation: wordOpen 0.3s forwards linear 1 12s;
  opacity: 0;
  visibility: hidden;
}
.bal6 .loading {
  -webkit-animation-delay: 13.9s;
          animation-delay: 13.9s;
}
.bal6 .result {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.bal7 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 15s;
          animation: wordOpen 0.3s forwards linear 1 15s;
  opacity: 0;
  visibility: hidden;
}
.bal7 .loading {
  -webkit-animation-delay: 16.9s;
          animation-delay: 16.9s;
}
.bal7 .result {
  -webkit-animation-delay: 17s;
          animation-delay: 17s;
}

.bal8 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 18s;
          animation: wordOpen 0.3s forwards linear 1 18s;
  opacity: 0;
  visibility: hidden;
}
.bal8 .loading {
  -webkit-animation-delay: 19.9s;
          animation-delay: 19.9s;
}
.bal8 .result {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.bal9 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 21s;
          animation: wordOpen 0.3s forwards linear 1 21s;
  opacity: 0;
  visibility: hidden;
}
.bal9 .loading {
  -webkit-animation-delay: 23.9s;
          animation-delay: 23.9s;
}
.bal9 .result {
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

.bal10 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 25s;
          animation: wordOpen 0.3s forwards linear 1 25s;
  opacity: 0;
  visibility: hidden;
}
.bal10 .loading {
  -webkit-animation-delay: 25.9s;
          animation-delay: 25.9s;
}
.bal10 .result {
  -webkit-animation-delay: 26s;
          animation-delay: 26s;
}

.bal11 {
  -webkit-animation: wordOpen 0.3s forwards linear 1 27s;
          animation: wordOpen 0.3s forwards linear 1 27s;
  opacity: 0;
  visibility: hidden;
}
.bal11 .loading {
  -webkit-animation-delay: 28.9s;
          animation-delay: 28.9s;
}
.bal11 .result {
  -webkit-animation-delay: 29s;
          animation-delay: 29s;
}