#wrapper {
    h1 {
        @include blind();
    }

    .container {
        background-color: $White;
        position: relative;
        max-width: 79rem;
        height: 100%;
        margin: auto;
    }

    &.order-wrap {
        .container {
            background-color: #242424;
        }
    }
}

#contents {
    padding-top: 4.4rem;
    height: 100%;
}

.category-tit {
    color: $Gray900;
    position: relative;
    padding: 0 2.4rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: normal;

    &::after {
        background-color: $Accent;
        box-shadow: rgba($Black, 0.1) 0.1rem 1rem 0.2rem;
        content: '';
        display: block;
        position: absolute;
        width: 7rem;
        height: 0.4rem;
        top: 50%;
        left: -0.3rem;
        border-radius: 0.2rem;
        transform: translateY(-50%);
        z-index: 2;
    }
}

.sector-category {
    position: relative;
    padding: 3.9rem 0 17rem;
    margin-top: -4.4rem;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }

    &.cate1 {
        background-color: #e4ebdc;

        &::after {
            width: 19.1rem;
            height: 14.6rem;
            background-image: url('../images/product/cate1.png');
        }
    }

    &.cate2 {
        background-color: #f4c6c4;

        &::after {
            width: 12rem;
            height: 15.7rem;
            background-image: url('../images/product/cate2.png');
        }
    }

    &.cate3 {
        background-color: #b59dfb;

        &::after {
            width: 16rem;
            height: 15rem;
            right: 2.2rem;
            background-image: url('../images/product/cate3.png');
        }
    }
}

.product-detail {
    position: relative;
    padding-bottom: 12.5rem;

    .sector-detail {
        padding-top: 3.9rem;
        margin-top: -4rem;

        &.cate1 {
            background-color: #d7d4d3;
        }
    }

    .category-tit {
        font-size: 2.4rem;
    }

    .detail-title {
        padding: 1.9rem 2.4rem 2rem;

        h4 {
            color: $Primary;
            font-size: 4rem;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1px;
            word-break: keep-all;

            .smt {
                margin-bottom: 0.7rem;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }

        .price {
            color: $Primary;
            margin-top: 2.8rem;
            font-size: 4rem;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1px;
        }
    }

    .product-info {
        .prd-headtext {
            padding: 6.8rem 3rem;
        }

        .prd-topview {
            padding: 4rem 0.6rem;
        }

        .prd-inner {
            padding: 0 2.4rem;
        }

        .prd-txt1 {
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: -1px;

            & + .prd-txt2 {
                margin-top: 1.6rem;

                &.mt1 {
                    margin-top: 2.4rem;
                }
            }
        }

        .prd-txt2 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: -1px;

            & + .prd-txt3 {
                margin-top: 1.6rem;
            }
        }

        .prd-txt3 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: -1px;
        }

        .prd-img {
            &.figcaption-ocr {
                figcaption {
                    @include blind();
                }
            }
        }

        .prdinfo {
            padding-bottom: 4rem;

            figure {
                margin-bottom: 4rem;
            }
        }
    }

    .product-notice {
        padding: 0 2.4rem;

        .note-tit {
            color: $Gray900;
            margin-bottom: 2.4rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: -1px;
        }

        .note-list {
            color: $Gray900;

            & > li {
                & + li {
                    margin-top: 1.6rem;
                }
            }

            .st {
                margin-bottom: 0.7rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: -1px;
            }

            p {
                font-size: 1.6rem;
                line-height: 140%;
                letter-spacing: -1px;
            }
        }
    }
}

.buy-cont {
    position: relative;
    height: 100%;
    padding: 3rem 2.4rem 10rem 3.4rem;
    word-break: keep-all;

    h3 {
        color: $White;
        margin-bottom: 4rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -1px;
    }

    .order-talk {
        .talk-baloon {
            display: flex;
        }

        .talk {
            display: flex;
            width: auto;

            dl {
                max-width: calc(260 / 306) * 100%;
                padding: 1.6rem 2rem;
                transition: 0.3s all linear;

                dt {
                    @include blind();
                }

                dd {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 120%;

                    .option {
                        margin: 0.7rem 0 0 0.7rem;
                    }
                }
            }

            &.seller {
                justify-content: flex-start;

                dl {
                    color: $White;
                    background-color: $Violet500;
                    justify-self: flex-start;
                    margin-bottom: 1.6rem;
                    border-radius: 2rem 2rem 2rem 0;

                    .scaling-dots div {
                        background: $White;
                    }
                }
            }

            &.purchaser {
                justify-content: flex-end;

                dl {
                    color: $Gray900;
                    background-color: $White;
                    justify-self: flex-end;
                    margin-bottom: 3rem;
                    border-radius: 2rem 2rem 0 2rem;

                    .scaling-dots div {
                        background: $Gray900;
                    }
                }
            }
        }
    }
}

// 다크모드
.dark {
    background-color: $Dark;

    #wrapper {
        .container {
            background-color: $Dark;
        }
    }

    .sector-category {
        background-color: $Dark;

        .category-tit {
            color: $White;
        }
    }

    .product-detail {
        .sector-detail {
            background-color: $Dark;

            .category-tit {
                color: $White;
            }

            .detail-title {
                h4,
                .price {
                    color: $White;
                }
            }
        }

        .product-notice {
            .note-tit {
                color: $White;
            }

            .note-list {
                color: $White;
            }
        }
    }
}
