.btn-wrap {
    .btn-inner {
        padding: 0 2rem 1.9rem;
    }

    .btn-inner2 {
        padding: 1.8rem 0;
        background: linear-gradient(180deg, rgba($Dark, 0) 0%, rgba($Dark, 0.9) 30%, rgba($Dark, 0.9) 100%);
    }

    .btn {
        display: block;
        width: 100%;
        text-align: center;

        &.btype-small {
            height: 5.9rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 5.9rem;
            border-radius: 3rem;
            border-width: 0.1rem;
            border-style: solid;
        }

        &.btype-regular {
            height: 6.6rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 6.6rem;
            border-radius: 3.3rem;
            border-width: 0.1rem;
            border-style: solid;
        }

        &.btype-big {
            height: 7.6rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 7.6rem;
            border-radius: 3.3rem;
            border-width: 0.1rem;
            border-style: solid;

            .btnico {
                margin: 1.8rem auto;
            }
        }

        &.no-radius {
            border-radius: 0;
        }

        &.btclr-gray900 {
            color: $White;
            background-color: $Gray900;
            border-color: $Gray900;
        }

        &.btclr-accent {
            color: $White;
            background-color: $Accent;
            border-color: $Accent;
        }

        &.btclr-transparent {
            color: $Accent;
            background-color: transparent;
            border-color: transparent;
            border-radius: 0;
        }
    }

    .roundbtn {
        background-color: $Accent;
        display: block;
        width: 7rem;
        height: 7rem;
        margin: auto;
        border-radius: 50%;
    }

    .btnico {
        @include ir();
        display: block;
        margin: auto;

        &.ico-mic {
            width: 2.4rem;
            height: 4.1rem;
            background: url('../images/icon/ico_mic.svg') no-repeat;
            background-size: contain;
        }

        &.ico-keypad {
            width: 4rem;
            height: 4rem;
            background: url('../images/icon/ico_keypad.svg') no-repeat;
            background-size: contain;
        }
    }

    &.btm-fixed {
        position: fixed;
        max-width: 79rem;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 8;
    }
}

.btn-flex {
    display: flex;

    .fl1 {
        flex: 1 1;
    }

    .fl2 {
        flex: 2 2;
    }
}
