@mixin clearfix() {
    &::after {
        content: '';
        display: block;
        float: none;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
}

@mixin blind() {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

@mixin ir() {
    display: block;
    overflow: hidden;
    font-size: 1px;
    line-height: 0;
    text-indent: -9999rem;
}

// 말줄임
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else if($line == noline) {
        display: block;
        overflow: initial;
        text-overflow: initial;
        -webkit-box-orient: initial;
        -webkit-line-clamp: initial;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

@mixin position($posi: x) {
    @if $posi == x {
        left: 50%;
        transform: translateX(-50%);
    } @else if $posi == y {
        top: 50%;
        transform: translateY(-50%);
    } @else if $posi == xy {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// flexbox
@mixin flexbox($align) {
    display: flex;

    @if $align == 'column' {
        flex-direction: column;
    } @else if $align == 'center' {
        align-items: center;
        justify-content: center;
    } @else if $align == 'align-c' {
        align-items: center;
    } @else if $align == 'justify-c' {
        justify-content: center;
    } @else if $align == 'justify-r' {
        justify-content: right;
    }
}

$devices: (
    mobile: 320px,
    mobile-type1: 550px,
    mobile-type2: 450px,
    fold: 660px,
    tablet: 700px,
    tablet-type1: 835px,
    desktop: 1190px,
    desktop-type1: 1189px,
    desktop-type2: 1248px,
    desktop-type3: 1259px,
    desktop-wide: 1440px,
);

@mixin mq($device, $width: min-width) {
    @if map-has-key($devices, $device) {
        $device-width: map-get($devices, $device);
        @media screen and ($width: #{$device-width}) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$device}.';
    }
}
