// Text Color
$Black: #000;
$Gray900: #1a1a1a;
$Gray800: #333;
$Gray700: #4d4d4d;
$Gray500: #999;
$Gray100: #e6e6e6;
$Gray50: #f6f6f6;
$White: #fff;
$Negative: #ff0000;
$Positive: #0066ff;
$Caution: #ff5500;
$Dark: #242424;

/* Brand Color */
$Primary: #323232;
$Secondary: #959595;
$Accent: #9747ff;
$Violet500: #8b5cf6;
